SERVER_PORT=8089
USUARIO_SERVICE_URL=http://localhost:8081
AZURE_TENANT_ID=your-tenant-id
AZURE_API_AUDIENCE=your-api-client-id
AZURE_ISSUER_URI=https://login.microsoftonline.com/your-tenant-id/v2.0
AZURE_JWK_SET_URI=https://login.microsoftonline.com/your-tenant-id/discovery/v2.0/keys
DEFAULT_CLIENT_ROLE_ID=1
CORS_ALLOWED_ORIGIN=http://localhost:4200
