DB_URL=jdbc:oracle:thin:@tcps://TU_HOST_ORACLE:1522/TU_SERVICIO?wallet_location=/opt/oracle/wallet
DB_USERNAME=ADMIN
DB_PASSWORD=CAMBIAR_EN_CADA_ENTORNO

AZURE_API_AUDIENCE=TU_AZURE_API_AUDIENCE
AZURE_JWK_SET_URI=https://login.microsoftonline.com/common/discovery/v2.0/keys

CORS_ALLOWED_ORIGIN=http://localhost:4200
DEFAULT_CLIENT_ROLE_ID=1
