DB_URL=jdbc:oracle:thin:@YOUR_SERVICE?TNS_ADMIN=/wallet
DB_USERNAME=ADMIN
DB_PASSWORD=change-me
SERVER_PORT=8084
CORS_ALLOWED_ORIGIN=http://localhost:4200
USUARIO_SERVICE_URL=http://usuario-service:8081
SUCURSAL_SERVICE_URL=http://sucursal-service:8082
SEGUIMIENTO_SERVICE_URL=http://seguimiento-service:8083
NOTIFICACION_SERVICE_URL=http://notificacion-service:8089
