<div class="notifications-page">

  <div class="notifications-container">

    <div class="page-header">

      <h1>
        Centro de Notificaciones
      </h1>

      <p>
        Historial de eventos generados por el sistema.
      </p>

    </div>

    <div *ngIf="loading" class="empty-state">

      Cargando notificaciones...

    </div>

    <div
      *ngIf="!loading && notifications.length === 0"
      class="empty-state">

      No tienes notificaciones.

    </div>

    <div
      *ngFor="let notification of notifications"
      class="notification-card"
      [class.unread]="!notification.leida"
      (click)="marcarComoLeida(notification)">

      <div class="notification-content">

        <h3>

          {{ notification.titulo }}

        </h3>

        <p>

          {{ notification.mensaje }}

        </p>

        <span>

          {{ notification.fechaCreacion | date:'dd/MM/yyyy HH:mm' }}

        </span>

      </div>

      <div
        class="notification-badge"
        *ngIf="!notification.leida">

        Nueva

      </div>

    </div>

  </div>

</div>