<nav class="navbar">

  <div class="navbar-logo">

    <img
      src="images/ramona_express-log.png"
      alt="Ramona Express">

  </div>

  <div class="navbar-menu">

    <a routerLink="/tracking"
       routerLinkActive="active-link">

      Seguimiento

    </a>

    <a routerLink="/shipment"
       routerLinkActive="active-link">

      Realizar Envío

    </a>

    <a routerLink="/history"
       routerLinkActive="active-link">

      Historial

    </a>

  </div>

  <div class="navbar-user">

    <a routerLink="/profile">

      Usuario

    </a>

    <button class="logout-btn">

      Cerrar Sesión

    </button>

  </div>

</nav>