<nav class="navbar">

  <div class="navbar-logo">
    <img
      src="images/ramona_express-log.png"
      alt="Ramona Express">
  </div>

  <input
    type="checkbox"
    id="nav-toggle"
    class="nav-toggle">

  <label
    for="nav-toggle"
    class="hamburger">

    <span></span>
    <span></span>
    <span></span>

  </label>

  <div class="navbar-menu">

    <div class="navbar-links">

      <a
        *ngIf="role === 'OPERADOR' || role === 'ADMIN'"
        routerLink="/dashboard"
        routerLinkActive="active">
        Dashboard
      </a>

      <a
        routerLink="/tracking"
        routerLinkActive="active">
        Seguimiento
      </a>

      <a
        routerLink="/shipment"
        routerLinkActive="active">
        Crear Envío
      </a>

      <a
        *ngIf="role === 'CLIENTE'"
        routerLink="/history"
        routerLinkActive="active">
        Historial
      </a>

      <a
        *ngIf="role === 'CLIENTE'"
        routerLink="/profile"
        routerLinkActive="active">
        Mi Perfil
      </a>

      <a
        *ngIf="role === 'OPERADOR' || role === 'ADMIN'"
        routerLink="/shipments"
        routerLinkActive="active">
        Centro de Operaciones
      </a>

      <a
        *ngIf="role === 'OPERADOR' || role === 'ADMIN'"
        routerLink="/users"
        routerLinkActive="active">
        Usuarios
      </a>

      <a
        *ngIf="role === 'ADMIN'"
        routerLink="/branches"
        routerLinkActive="active">
        Sucursales
      </a>

      <a
        *ngIf="role === 'OPERADOR' || role === 'ADMIN'"
        routerLink="/incidents"
        routerLinkActive="active">
        Incidencias
      </a>

      <a
        *ngIf="role === 'OPERADOR' || role === 'ADMIN'"
        routerLink="/reviews"
        routerLinkActive="active">
        Reseñas
      </a>

      <a
        routerLink="/notifications"
        routerLinkActive="active">
        Notificaciones
      </a>

    </div>

    <div class="navbar-user">

      <div class="user-role">
        👤 {{ role }}
      </div>

     <button
      type="button"
      class="logout-btn"
      (click)="cerrarSesion()">
      Cerrar sesión
    </button>

    </div>

  </div>

</nav>