<div class="login-page">

  <div class="login-card">

    <img
      class="logo"
      src="images/ramona_express-log.png"
      alt="Ramona Express">

    <h1>Iniciar Sesión</h1>

    <p class="login-subtitle">
      Accede utilizando tu cuenta de Microsoft para ingresar al sistema.
    </p>

    <div
      class="error"
      *ngIf="errorMessage">

      {{ errorMessage }}

    </div>

    <button
      class="microsoft-btn"
      type="button"
      (click)="loginMicrosoft()">

      <img
        src="images/microsoft.png"
        alt="Microsoft">

      <span>Continuar con Microsoft</span>

    </button>

  </div>

<div class="disabled-modal" *ngIf="showDisabledModal">

  <div class="disabled-card">

    <div class="disabled-icon">
      !
    </div>

    <h2>Acceso denegado</h2>

    <p>
      Tu usuario se encuentra deshabilitado, por lo que no puedes ingresar a Ramona Express.
    </p>

    <span>
      Contacta a un administrador para recuperar el acceso.
    </span>

    <button
      type="button"
      (click)="cerrarModal()">
      Entendido
    </button>

  </div>

</div>
