DB_URL=jdbc:oracle:thin:@TU_SERVICIO
DB_USERNAME=ADMIN
DB_PASSWORD=cambiar
SERVER_PORT=8086
CORS_ALLOWED_ORIGIN=http://localhost:4200
SOLICITUD_SERVICE_URL=http://localhost:8084
USUARIO_SERVICE_URL=http://localhost:8081
